doctype html
html
	head
		meta(charset="UTF-8")
		title
		link(rel="stylesheet" href="css/css.css")
		script(src="js/jQuery.js" type="text/javascript" charset="utf-8")
		script(src="js/jade.js" type="text/javascript" charset="utf-8")
	body
		div.mo
			div.header
			div.content
				div.content_main
					ul.ul
						li.show 注册
						li 登录
					ol.ol
						li.zhuce.checked
							input.user1(type="text" placeholder="用户名")
							input.pass1(type="text" placeholder="密码")
							button.btn1 注册
						li.denglu
							input.user2(type="text" placeholder="用户名")
							input.pass2(type="text" placeholder="密码")
							button.btn2 登录
			div.footer 建议使用Chrome、360浏览器、Firefox等现代浏览器访问本网站